# Node.js dependencies
node_modules
.yarn
.pnp.cjs
.pnp.loader.mjs

# Build artifacts
dist
.next
out

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development
.env.production
.env.test

# System files
.DS_Store
Thumbs.db

# Git and editor files
.git
.gitignore
.idea
.vscode
*.swp
*.swo

# Docker-specific
Dockerfile
.dockerignore
